<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cmtProject.mapper.mes.standardInfoMgt.ClientMapper">
	<insert id="insertClientList" parameterType="com.example.cmtProject.dto.mes.standardInfoMgt.ClientsDTO">
	    INSERT INTO CLIENTS (
	        CLT_NO,
            CLT_TYPE,
            CLT_NAME,
            CLT_OWNER_NAME,
            CLT_MANAGER_NAME,
            CLT_PHONE,
            CLT_EMAIL,
            CLT_ADDRESS,
<!--             CLT_POST_CODE, -->
<!--             CLT_ADDRESS2, -->
            CLT_COMMENTS,
            REGI_DATE
        ) VALUES (
         CLIENTS_SEQ.NEXTVAL,
            #{cltType},
            #{cltName},
            #{cltOwnerName},
            #{cltManagerName},
            #{cltPhone},
            #{cltEmail},
            #{cltAddress},
<!--             #{cltPostCode}, -->
<!--             #{cltAddress2}, -->
            #{cltComments},
            SYSDATE
        )
    </insert>
	
	<select id="selectClientList" resultType="com.example.cmtProject.dto.mes.standardInfoMgt.ClientsDTO">
		SELECT 
			CLT_POST_CODE
			,REGI_DATE
			,USE_YN
			,CLT_NO
			,CLT_ADDRESS
			,CLT_ADDRESS2
			,CLT_CODE
			,CLT_COMMENTS
			,CLT_EMAIL
			,CLT_NAME
			,CLT_PHONE
			,CLT_PRC_TYPE
			,CLT_TYPE
			,CLIENT_TYPE
			,CLT_OWNER_NAME
			,CLT_MANAGER_NAME
		FROM CLIENTS 
	   ORDER BY CLT_NO
	</select>
	
	<delete id="deleteClientList" parameterType="Long">
		DELETE FROM CLIENTS
		WHERE CLT_NO = #{cltNo}
	</delete>
	
	<select id="selectClientByCltCode" resultType="com.example.cmtProject.dto.mes.standardInfoMgt.ClientsDTO">
		 SELECT 
	        CLT_NO           AS cltNo,
	        CLT_CODE         AS cltCode,
	        CLT_NAME         AS cltName,
	        CLT_OWNER_NAME   AS cltOwnerName,
	        CLT_MANAGER_NAME AS cltManagerName,
	        CLT_PHONE        AS cltPhone,
	        CLT_EMAIL        AS cltEmail,
	        CLT_ADDRESS      AS cltAddress,
	        CLT_ADDRESS2     AS cltAddress2,
	        CLT_POST_CODE    AS cltPostCode,
	        CLT_TYPE         AS cltType,
	        CLT_PRC_TYPE     AS cltPrcType,
	        CLT_COMMENTS     AS cltComments,
	        CLIENT_TYPE      AS clientType,
	        REGI_DATE        AS regiDate,
	        USE_YN           AS useYn
	     FROM CLIENTS 
	    WHERE CLT_CODE = #{cltCode}
	    ORDER BY CLT_NO
	</select>
	
</mapper>